<div class="row full-height full-width">
	<div class="col-xs-12 col-md-6 full-height">
		<div class="row full-height">
			{{kata-description kata=model.readme class="col-xs-12 half-height scroll"}}

			{{#kata-output
				class="col-xs-12 half-height scroll"
				onStart=(action 'onStart')
				onEnd=(action 'onEnd')
				as |kata|}}
				{{mocha-runner
					suite=model.suite
					code=code
					onEvent=kata.onEvent}}
			{{/kata-output}}
		</div>
	</div>

	{{#codemirror-editor
		code=code
		class="col-xs-12 col-md-6 full-height scroll"
		onChange=(action 'onChange')}}
		{{!-- Material editor menu --}}

		{{!-- Contextual editor toolbar --}}
		{{!-- Test status --}}
		{{#paper-button iconButton=true onClick=(action (mut leftSideBarOpen))}}
			{{paper-icon status.ICON}}
		{{/paper-button}}
		{{!-- Title --}}
		<h2>{{status.DESC}}</h2>
		{{!-- Separator --}}
		<span class="flex"></span>
		{{!-- Contextual menu --}}
		{{#paper-menu position="target-right target" as |menu|}}
			{{!-- Contextual menu button --}}
			{{#menu.trigger}}
				{{!-- Triple dot button --}}
				{{#paper-button iconButton=true}}
					{{paper-icon "more_vert"}}
				{{/paper-button}}
			{{/menu.trigger}}
			{{!-- Contextual menu content --}}
			{{#menu.content width=4 as |content|}}
				{{!-- Run tests --}}
				{{#content.menu-item onClick=(action 'run')}}
					{{paper-icon "input"}}
					<span>Run</span>
				{{/content.menu-item}}
				{{!-- Separator --}}
				{{paper-divider}}
				{{!-- Reset code --}}
				{{#content.menu-item onClick=(action (mut code) model.code)}}
					{{paper-icon "settings_backup_restore"}}
					<span>Reset</span>
				{{/content.menu-item}}
			{{/menu.content}}
		{{/paper-menu}}
	{{/codemirror-editor}}
</div>

{{outlet}}
