<div class="row full-height full-width">
	<div class="col-xs-12 col-md-6 full-height">
		<div class="row full-height">
			{{kata-description kata=model.readme class="col-xs-12 half-height scroll"}}

			{{mocha-runner
				class="col-xs-12 half-height scroll"
				suite=model.suite
				code=code
				onEvent=(action 'onEvent')
				onEnd=(action 'onEnd')}}
		</div>
	</div>

	{{#codemirror-editor
		code=code
		class="col-xs-12 col-md-6 full-height scroll"
		onChange=(action 'onChange')}}
		{{!-- Material editor menu --}}

		{{!-- Editor toolbar --}}
		{{#paper-toolbar as |toolbar|}}
			{{#toolbar.tools}}
				{{!-- menu button --}}
				{{#paper-button iconButton=true onClick=(action (mut leftSideBarOpen))}}
					{{paper-icon testResultIcon}}
				{{/paper-button}}
				{{!-- title --}}
				<h2>{{testResultDescription}}</h2>
				{{!-- separator --}}
				<span class="flex"></span>
				{{!-- Contextual menu --}}
				{{#paper-menu position="target-right target" as |menu|}}
					{{#menu.trigger}}
						{{#paper-button iconButton=true}}
							{{paper-icon "more_vert"}}
						{{/paper-button}}
					{{/menu.trigger}}
					{{#menu.content width=4 as |content|}}
						{{#content.menu-item onClick="openSomething"}}
							{{paper-icon "input"}}
							<span>Run</span>
						{{/content.menu-item}}

						{{paper-divider}}

						{{#content.menu-item onClick=(action (mut code) model.code)}}
							{{paper-icon "settings_backup_restore"}}
							<span>Reset</span>
						{{/content.menu-item}}
					{{/menu.content}}
				{{/paper-menu}}
			{{/toolbar.tools}}
		{{/paper-toolbar}}
	{{/codemirror-editor}}
</div>

{{outlet}}
